<%= form_for(@aufgabe) do |f| %>
  <% if @aufgabe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aufgabe.errors.count, "error") %> prohibited this aufgabe from being saved:</h2>

      <ul>
      <% @aufgabe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :erfasst %><br />
    <%= f.date_select :erfasst %>
  </div>
  <div class="field">
    <%= f.label :projekt %><br />
    <%= f.text_field :projekt %>
  </div>
  <div class="field">
    <%= f.label :aufgabe %><br />
    <%= f.text_area :aufgabe %>
  </div>
  <div class="field">
    <%= f.label :erklaerung %><br />
    <%= f.text_area :erklaerung %>
  </div>
  <div class="field">
    <%= f.label :information %><br />
    <%= f.text_area :information %>
  </div>
  <div class="field">
    <%= f.label :zustaendig %><br />
    <%= f.text_field :zustaendig %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :erledigt_am %><br />
    <%= f.date_select :erledigt_am %>
  </div>
  <div class="field">
    <%= f.label :zeit %><br />
    <%= f.text_field :zeit %>
  </div>
  <div class="field">
    <%= f.label :heute_bearbeiten_kz %><br />
    <%= f.text_field :heute_bearbeiten_kz %>
  </div>
  <div class="field">
    <%= f.label :nur_heute_interessant %><br />
    <%= f.text_field :nur_heute_interessant %>
  </div>
  <div class="field">
    <%= f.label :mantis_nummer %><br />
    <%= f.text_field :mantis_nummer %>
  </div>
  <div class="field">
    <%= f.label :privat %><br />
    <%= f.text_field :privat %>
  </div>
  <div class="field">
    <%= f.label :aufgabe_id %><br />
    <%= f.text_field :aufgabe_id %>
  </div>
  <div class="field">
    <%= f.label :termin %><br />
    <%= f.date_select :termin %>
  </div>
  <div class="field">
    <%= f.label :aend_dat %><br />
    <%= f.date_select :aend_dat %>
  </div>
  <div class="field">
    <%= f.label :reihenfolge %><br />
    <%= f.text_field :reihenfolge %>
  </div>
  <div class="field">
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </div>
  <div class="field">
    <%= f.label :updated_at %><br />
    <%= f.datetime_select :updated_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
