<%= form_for(@aufgabe) do |f| %>
  <% if @aufgabe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aufgabe.errors.count, "error") %> prohibited this aufgabe from being saved:</h2>

      <ul>
      <% @aufgabe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :erfasst %><br />
    <%= f.text_field :erfasst %>
  </div>
  <div class="field">
    <%= f.label :projekt %><br />
    <%= select( :aufgabe, :projekt, @projektliste)  %>
  </div>
  <div class="field">
    <%= f.label :aufgabe %><br />
    <%= f.text_area :aufgabe %>
  </div>
  <div class="field">
    <%= f.label :erklaerung %><br />
    <%= f.text_area :erklaerung %>
  </div>
  <div class="field">
    <%= f.label :information %><br />
    <%= f.text_area :information %>
  </div>

  <div class="field">
    <%= f.label :status %><br />
    <%= select( :aufgabe, :status,[ "In Arbeit", "Offen", "Erledigt", "Warte auf", "eingecheckt", "im Test", "zugewiesen", "zurueck gelegt"]
)  %>
  </div>
  <div class="field">
    <%= f.label :erledigt_am %><br />
    <%= f.text_field :erledigt_am %>
  </div>

  <div class="field">
    <%= f.label :mantis_nummer %><br />
    <%= f.text_field :mantis_nummer %>
  </div>
  <div class="field">
    <%= f.label :privat %><br />
    <%= select( :aufgabe,:privat,['N','J'])%>
  </div>

  <div class="field">
    <%= f.label :termin %><br />
    <%= f.text_field :termin %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
