<h1>Todo </h1>
<%= form_tag aufgaben_path, :method => 'get' do %> 
 <%= hidden_field_tag :direction, params[:direction] %>  
 <%= hidden_field_tag :sort, params[:sort] %>   
<a href="#" id=button_detail_aus > <img class='links' src='/images/minus.jpeg' alt='' /></a>
<a href="#" id=button_detail_ein > <img class='links' src='/images/plus.jpeg' alt='' /></a>

 <tr id="status_projekt">
  <td > <%= select_tag("status[]",options_for_select([['Offen','Offen'],
    ['Erledigt','Erledigt'],['Warte auf','Warte auf'],['In Arbeit','In Arbeit'],['im Test','im Test'],
    ['zugewiesen','zugewiesen'],['zurueck gelegt','zurueck gelegt'],['eingecheckt','eingecheckt']]),{ :multiple => true, :size =>3})  %></td>
    <td> <%= select_tag "projekt[]", options_for_select( ( Projekt.where( 'user_id = ?',current_user.id).collect{ |x| [ x.title, x.title ] } ) ),   { :multiple => true, :size =>3} %></td>
  </tr>
<table>
 <tr class="detail_suche">
   <th></th>
   <th>erfasst</th>
   <th></th>
   <th>Termin</th>
   <th></th>
   <th>erledigt</th>
   <th></th>
   <th>bearbeitet</th>
   <th>Mantis?</th>
   <th>pr.</th>
   <th>Report?</th>
   <th>Mantis-Nr.</th>

 </tr>

  </tr>
  <tr class="detail_suche">
     <td ><%= select_tag("erf_vergl",options_for_select([['=','='],['>','>'],['<','<']]))  %></td> 
     <td><%= text_field_tag :erfasst, params[:erfasst],:size => 7 %> </td>
     <td><%= select_tag("termin_vergl",options_for_select([['=','='],['>','>'],['<','<']]))  %></td> 
     <td><%= text_field_tag :termin, params[:termin],:size => 7 %> </td>
     <td><%= select_tag("erledigt_vergl",options_for_select([['=','='],['>','>'],['<','<']]))  %></td> 
     <td><%= text_field_tag :erledigt_am, params[:erledigt_am],:size => 7 %> </td>
     <td><%= select_tag("bearbeitet_vergl",options_for_select([['=','='],['>','>'],['<','<']]))  %></td> 
     <td><%= text_field_tag :zuletzt_bearbeitet, params[:zuletzt_bearbeitet],:size => 7 %> </td>
     <td><%= select_tag("mantis",options_for_select([['alle','alle'],['Ja','J'],['Nein','N']]))  %>  </td>       
     <td><%= select_tag("privat",options_for_select([['Nein','N'],['Ja','J'],['alle','alle']]))  %></td>

     <td><%= select_tag("report",options_for_select([['Nein','N'],['Ja','J']]))  %> </td>  
     <td><%= text_field_tag("mantis_nr",params['mantis_nr'],:size => 7) %> </td>
   
     <td><%= select_tag("sql",options_for_select([['Nein','N'],['Ja','J']]))  %></td>
 </tr>
</table>
     <td><%= text_field_tag :search, params[:search] %></td>  
     <td><%= submit_tag "Search", :name => nil %>  </td>
</table>
   </p> 
 <%= @aufgaben.total_entries %>
  <%= current_user.name %>
 </tr>
<% end %>
<%= link_to 'New Aufgabe', new_aufgabe_path %>
 </tr>
<table>
  <tr>

<th><%= sortable "aufgabe" %></th>
<th><%= sortable "erfasst" %></th>


    <th></th>
    <th></th>
  </tr>
<% zaehl =0 %>
<% @aufgaben.each do |aufgabe| %>
  <% zaehl = zaehl+1 %>
  <%  mantis= ('<a href=http://mantis.ikb.de/view.php?id='+aufgabe.mantis_nummer.to_s+' title="Mantis-aufrufen">'+aufgabe.mantis_nummer.to_s+'</a>').html_safe if aufgabe.mantis_nummer %>
  <tr  class="<%= cycle("even","odd") %>"; max-width:600px;>
    <td id="<%= 'zeig_aufgabe'+zaehl.to_s %>" >
        <%= aufgabe.aufgabe[0...80].gsub("h4.","") %>
     <div class ="aufgabe" id="<%= 'aufgabe'+zaehl.to_s %>" style="position:absolute; 
          max-width:600px; z-index:1;background-color:#E2E2E2;
          border: 1px solid #000000;left:140px;display:none">
        <%= RedCloth.new('h4. '+aufgabe.aufgabe+' '+aufgabe.erklaerung).to_html.html_safe+aufgabe.information %>
    </div>
    </td>
      
    <td id="<%= 'zeig_erfasst'+zaehl.to_s %>">
      <%= aufgabe.erfasst %>
     <div class ="aufgabe" id="<%= 'erfasst'+zaehl.to_s %>" style="position:absolute; 
          max-width:700px; z-index:1;background-color:#E2E2E2;
          border: 1px solid #000000;left:850px;display:none">
        <%= RedCloth.new("|Projekt|Erledigt-am|Termin|Status|Mantis|\n|#{aufgabe.projekt}|#{aufgabe.erledigt_am}|#{aufgabe.termin}|#{aufgabe.status}|#{mantis}").to_html.html_safe %>
    </div>
    </td>
    <td><%= link_to image_tag('/images/edit.jpeg'), edit_aufgabe_path(aufgabe) %></td>
    <td><%= link_to image_tag('/images/muell.jpeg'), aufgabe, :confirm => 'Are you sure?', :method => :delete %></td>
     <%if aufgabe.mantis_nummer then %>
     <td> <%= ('<a href=http://mantis.ikb.de/view.php?id='+aufgabe.mantis_nummer.to_s+' title="Mantis-aufrufen">'+aufgabe.mantis_nummer.to_s+'</a>').html_safe  %>  
     <% end %></td>
  </tr>
<script>
$j(document).ready(function($j) {
	     $j("#<%= 'zeig_aufgabe'+zaehl.to_s %>").click(function () {$j("#<%= 'aufgabe'+zaehl.to_s %>").show("fast")});
	     $j("#<%= 'zeig_aufgabe'+zaehl.to_s %>").mouseleave(function () {$j("#<%= 'aufgabe'+zaehl.to_s %>").hide("slow")});
	     $j("#<%= 'zeig_erfasst'+zaehl.to_s %>").click(function () {$j("#<%= 'erfasst'+zaehl.to_s %>").show("fast")});
	     $j("#<%= 'zeig_erfasst'+zaehl.to_s %>").mouseleave(function () {$j("#<%= 'erfasst'+zaehl.to_s %>").hide("slow")});
   });
</script>
<% end %>

</table>
<%= will_paginate @aufgaben %>
<br />


