<h1>Listing aufgaben</h1>
<%= link_to 'New Aufgabe', new_aufgabe_path %>
<table>
  <tr>
<th><%= sortable "aufgabe" %></th>
<th><%= sortable "erfasst" %></th>
<th><%= sortable "projekt" %></th>
<th><%= sortable "erledigt_am" %></th>
<th><%= sortable "termin" %></th>
<th><%= sortable "status" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @aufgaben.each do |aufgabe| %>
  <tr>
    <td><%= aufgabe.aufgabe %></td>
    <td><%= aufgabe.erfasst %></td>
    <td><%= aufgabe.projekt %></td>
    <td><%= aufgabe.erledigt_am %></td>
    <td><%= aufgabe.termin %></td>
    <td><%= aufgabe.status %></td>

    <td><%= link_to 'Show', aufgabe %></td>
    <td><%= link_to 'Edit', edit_aufgabe_path(aufgabe) %></td>
    <td><%= link_to 'Destroy', aufgabe, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


