<h1>Listing aufgaben</h1>
<%= link_to 'New Aufgabe', new_aufgabe_path %>
<table>
  <tr>
    <th>Aufgabe</th>
    <th>Erfasst</th>
    <th>Projekt</th>
    <th>Erledigt am</th>
    <th>Termin</th> 
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @aufgaben.each do |aufgabe| %>
  <tr>
    <td><%= aufgabe.aufgabe %></td>
    <td><%= aufgabe.erfasst %></td>
    <td><%= aufgabe.projekt %></td>
    <td><%= aufgabe.erledigt_am %></td>
    <td><%= aufgabe.termin %></td>
    <td><%= aufgabe.status %></td>

    <td><%= link_to 'Show', aufgabe %></td>
    <td><%= link_to 'Edit', edit_aufgabe_path(aufgabe) %></td>
    <td><%= link_to 'Destroy', aufgabe, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


