<h1>Todo </h1>
<%= form_tag aufgaben_path, :method => 'get' do %> 
 <%= hidden_field_tag :direction, params[:direction] %>  
 <%= hidden_field_tag :sort, params[:sort] %>   
   <p>  
 <%= select_tag("status[]",options_for_select([['Offen','Offen'],
    ['Erledigt','Erledigt'],['Warte auf','Warte auf'],['In Arbeit','In Arbeit'],['im Test','im Test'],
    ['zugewiesen','zugewiesen'],['zurueck gelegt','zurueck gelegt'],['eingecheckt','eingecheckt']]),{ :multiple => true, :size =>3})  %>
   
     <%= select_tag "projekt[]", options_for_select( ( Projekt.find( :all , :order => 'title').collect{ |x| [ x.title, x.title ] } ) ),   { :multiple => true, :size =>3} %>
     <%= select_tag("aktuell",options_for_select([['alle','alle'],['Ja','J'],['Nein','N']]))  %>
     <%= select_tag("mantis",options_for_select([['alle','alle'],['Ja','J'],['Nein','N']]))  %>         
     <%= select_tag("privat",options_for_select([['Nein','N'],['Ja','J'],['alle','alle']]))  %>
     <%= select_tag("report",options_for_select([['Nein','N'],['Ja','J']]))  %>   
     <%= text_field_tag("mantis_nr",params['mantis_nr'],:size => 7) %> 
   
     <%= select_tag("sql",options_for_select([['Nein','N'],['Ja','J']]))  %>
     <%= text_field_tag :search, params[:search] %>  
     <%= submit_tag "Search", :name => nil %>  
   </p>  
<% end %>
<%= link_to 'New Aufgabe', new_aufgabe_path %>
<table>
  <tr>
<th><%= sortable "aufgabe" %></th>
<th><%= sortable "erfasst" %></th>
<th><%= sortable "projekt" %></th>
<th><%= sortable "erledigt_am" %></th>
<th><%= sortable "termin" %></th>
<th><%= sortable "status" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @aufgaben.each do |aufgabe| %>
  <tr>
    <td><%= aufgabe.aufgabe %></td>
    <td><%= aufgabe.erfasst %></td>
    <td><%= aufgabe.projekt %></td>
    <td><%= aufgabe.erledigt_am %></td>
    <td><%= aufgabe.termin %></td>
    <td><%= aufgabe.status %></td>

    <td><%= link_to 'Show', aufgabe %></td>
    <td><%= link_to 'Edit', edit_aufgabe_path(aufgabe) %></td>
    <td><%= link_to 'Destroy', aufgabe, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>

</table>
<%= will_paginate @aufgaben %>
<br />


