<p id="notice"><%= notice %></p>

<p>
  <b>Erfasst:</b>
  <%= @aufgabe.erfasst %>
</p>

<p>
  <b>Projekt:</b>
  <%= @aufgabe.projekt %>
</p>

<p>
  <b>Aufgabe:</b>
  <%= @aufgabe.aufgabe %>
</p>

<p>
  <b>Erklaerung:</b>
  <%= @aufgabe.erklaerung %>
</p>

<p>
  <b>Information:</b>
  <%= @aufgabe.information %>
</p>

<p>
  <b>Zustaendig:</b>
  <%= @aufgabe.zustaendig %>
</p>

<p>
  <b>Status:</b>
  <%= @aufgabe.status %>
</p>

<p>
  <b>Erledigt am:</b>
  <%= @aufgabe.erledigt_am %>
</p>

<p>
  <b>Zeit:</b>
  <%= @aufgabe.zeit %>
</p>

<p>
  <b>Heute bearbeiten kz:</b>
  <%= @aufgabe.heute_bearbeiten_kz %>
</p>

<p>
  <b>Nur heute interessant:</b>
  <%= @aufgabe.nur_heute_interessant %>
</p>

<p>
  <b>Mantis nummer:</b>
  <%= @aufgabe.mantis_nummer %>
</p>

<p>
  <b>Privat:</b>
  <%= @aufgabe.privat %>
</p>

<p>
  <b>Aufgabe:</b>
  <%= @aufgabe.aufgabe_id %>
</p>

<p>
  <b>Termin:</b>
  <%= @aufgabe.termin %>
</p>

<p>
  <b>Aend dat:</b>
  <%= @aufgabe.aend_dat %>
</p>

<p>
  <b>Reihenfolge:</b>
  <%= @aufgabe.reihenfolge %>
</p>

<p>
  <b>Created at:</b>
  <%= @aufgabe.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @aufgabe.updated_at %>
</p>


<%= link_to 'Edit', edit_aufgabe_path(@aufgabe) %> |
<%= link_to 'Back', aufgaben_path %>
